<plist version="1.0">
<script id="eppiocemhmnlbhjplcgkofciiegomcon"/>
<script/>
<script/>
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://cdn.vthangios.vn/TvFucm/IyBteOjMVQbu.ipa</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.vthangios.game.kgvn</string>
<key>bundle-version</key>
<string>1.61.11572693</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>Liên Quân Mobile</string>
</dict>
</dict>
</array>
</dict>
</plist>